/* global styles start */

body {
    background-color: LavenderBlush;
    color: Teal;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 1.5;
    margin: 0;
}

*,
::after,
::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* grid styles */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 40px;
    }
}
@media (max-width: 500px) {
    .container {
        padding: 0 20px;
    }
}
.col {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: center;
}

.col-1 {
    flex-basis: 16.666%;
}
.col-2 {
    flex-basis: 8.333%;
}
.col-3 {
    flex-basis: 25%;
}
.col-4 {
    flex-basis: 33.333%;
}
.col-5 {
    flex-basis: 41.666%;
}
.col-6 {
    flex-basis: 50%;
}
.col-7 {
    flex-basis: 58.333%;
}
.col-8 {
    flex-basis: 66.666%;
}
.col-9 {
    flex-basis: 75%;
}
.col-10 {
    flex-basis: 83.333%;
}
.col-11 {
    flex-basis: 91.666%;
}
.col-12 {
    flex-basis: 100%;
}
@media (max-width: 768px) {
    .col-1,
    .col-2,
    .col-3 {
        flex: 50%;
    }
    .col-4,
    .col-5,
    .col-6,
    .col-8,
    .col-9,
    .col-10,
    .col-10,
    .col-11,
    .col-12 {
        /* flex: 50%; */
    }
    .col-7 {
        flex: 100%;
    }
}
@media (max-width: 500px) {
    .col {
        display: block;
    }
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-10,
    .col-11,
    .col-12 {
        flex: 100%;
    }
}
/* --- Default Overrides - Personal Preference --- */

form > * {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

/* --- Clearfix for floated Elements --- */

/* I never ended up using this for the nav-bar */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}

/* --- Typography --- */

p {
    line-height: 1.4;
}
/* h tag styles */
h1 {
}
h2 {
    color: #131313;
    font-size: 24px;
    line-height: 1.8;
    word-spacing: normal;
    letter-spacing: 1px;
}
/* global styles end  */

/* common styles  */

.small-caps {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 0.7rem;
}

.bolder {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

.text-center {
    text-align: center;
}

/* button styles  */
/* .btn-primary {
    margin: 0 auto;
    display: block;
    margin-top: 38px;
    background: #eb7d4b;
    border: none;
    color: #fff;
    padding: 15px 35px;
    font-size: 17px;
    text-transform: uppercase;
    box-shadow: 0px 5px #ca6c42;
} */
.btn-primary:hover {
    background: #fd8e5b;
    box-shadow: 0px 5px #f8814a;
    transition: all 500ms ease-in-out;
}
.btn-primary {
    margin: 0 auto;
    display: block;
    margin-top: 38px;
    /* background: #eb7d4b; */
    border: none;
    color: #fff;
    /* padding: 15px 35px; */
    font-size: 17px;
    height: 44px;
    width: 250px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background: #eb7d4b;
    box-shadow: 0px 5px #ca6c42;
}

.alt-btn-primary {
    transition: all 0.2s ease-in-out;
}

.btn-text {
    display: block;
    margin: 15px 0;
    letter-spacing: 2px;
}

.alt-btn-primary:hover {
    transform: translate3d(0px, -34px, 0px);
}
.btn-custom {
    margin-top: 40px;
    width: 200px;
    background: #15af85;
    box-shadow: 0px 5px #109572;
}

.btn-custom:hover {
    background: #0ae8ca;
    box-shadow: 0px 5px #1dc599;
}
@media (max-width: 410px) {
    .btn-primary {
        width: 99%;
    }
}
/* section main  */
.under-line {
    border-bottom: 2px solid #161616;
    display: block;
    width: 85px;
    margin: 15px auto;
}
.cuda-details {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.cuda-details h2 {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 16px;
}
.cuda-details p {
    font-size: 17px;
    margin: 40px 0;
    color: #131313;
    line-height: 35px;
}
@media (max-width: 768px) {
    .cuda-details {
        margin-bottom: 0;
    }
    .cuda-details h2 {
        font-size: 22px;
    }
}
@media (max-width: 500px) {
    .cuda-details {
        margin-bottom: 0;
    }
    .cuda-details h2 {
        font-size: 18px;
    }
}
/* common styles  */

/* menu start  */
/* .site-logo {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    margin: 0 1rem;
} */
nav {
    display: flex;
    justify-content: space-between;

    background-color: #87509c;
}

nav {
    display: flex;
    align-items: center; /* vertically center */
    height: 100%;
}

/* Hide checkbox that controls Mobile Nav Button*/
#drop-down-cbox {
    display: none;
}

/* Mobile Nav Button */
#drop-down-cbox + label {
    position: relative;
    display: none;
    width: 34px;
    height: 34px;
    overflow: hidden;
    background-color: transparent;
    transition: all 10ms ease-in-out;
}

/* Mobile Nav Button Bars */
#drop-down-cbox + label span {
    position: absolute;
    display: block;
    background-color: #fff;
    width: 24px;
    height: 3px;
    border-radius: 2px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%); /* centering trick */
    transition: all 300ms ease-in-out;
}

/* Mobile Nav Button Bars Invididually */
#drop-down-cbox + label span:nth-child(1) {
    top: 30%; /* evenly spaced */
}
#drop-down-cbox + label span:nth-child(2) {
    top: 50%; /* evenly spaced */
}
#drop-down-cbox + label span:nth-child(3) {
    top: 70%; /* evenly spaced */
}

/* Mobile Nav Button Styling for Checked */
#drop-down-cbox:checked + label {
    background-color: #fff;
}

#drop-down-cbox:checked + label span {
    background-color: #87509c;
}

/* Transform the bars into an 'X' */
#drop-down-cbox:checked + label span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); /* center, then rotate */
}
#drop-down-cbox:checked + label span:nth-child(2) {
    left: -150%; /* move center bar out of the picture */
}
#drop-down-cbox:checked + label span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* center, then rotate */
}

/* Main Nav Desktop */
.main-nav {
    display: flex;
    justify-content: end; /* evenly space items */
    align-items: center; /* center vertically */
}

.main-nav li {
    display: block;
    height: 60px;
    line-height: 60px; /* vertically center text, matches height */
    text-align: center;
    margin-left: 40px;
}

.main-nav li a,
.main-nav li span {
    display: block;

    height: 100%;
    color: #fff;
    font-size: 17px;
}

.main-nav li a:hover,
.main-nav li span:hover {
    border-bottom: 4px solid #666;
}

.main-nav li > ul {
    max-height: 0px; /* max-height instead of height, height can't transition to auto */
    transition: all 500ms ease-in-out;
    overflow: hidden; /* make it so nav doesn't show beyond the 0px max-height */
}

.main-nav li:hover > ul {
    max-height: 180px; /* height x how many links */
    height: auto;
}

.main-nav li > ul li a,
.main-nav li > ul li span {
    background-color: white;
}

.main-nav li > ul li a:hover,
.main-nav li > ul li span:hover {
    background-color: #666;
    color: white;
    border-bottom: none;
}

/* Tablet and Mobile View */
@media (max-width: 768px) {
    #drop-down-cbox + label {
        display: inline-block;
        text-align: right; /* unhide the mobile nav button */
    }

    .main-nav {
        max-height: 0px; /* same vertical grow transition trick as above */
        height: calc(
            100vh - 105px
        ); /* take full vertical viewport height, -60px for nav-bar */
        overflow: hidden;
        position: absolute;
        top: 63px;
        line-height: auto;
        left: 0;

        width: -webkit-fill-available;
        justify-content: unset;
        align-items: baseline;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
        color: #122679;
        transition: all 500ms ease-in-out;
    }

    #drop-down-cbox:checked ~ .main-nav {
        max-height: calc(100vh - 60px);
        background-color: #eb7d4b;
        transition: all 500ms ease-in-out;
    }

    .main-nav li span {
        position: relative;
    }

    /* design and position downward arrow */
    .main-nav li span:after {
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        top: 50%;
        margin-top: -2px;
        margin-left: 8px;
        transform: translateY(-50%) rotate(-45deg);
        border-left: 2px solid #666;
        border-bottom: 2px solid #666;
    }

    .main-nav li a:hover,
    .main-nav li span:hover {
        background-color: #666;
        color: rgb(228, 29, 29);
        border-bottom: none;
    }

    .main-nav li > ul li {
        position: relative;
    }

    .main-nav li > ul li a,
    .main-nav li > ul li span {
        background-color: #eee;
    }
}
@media (max-width: 600px) {
    .site-logo img {
        max-width: 85px;
    }
}
/* manu end  */
.banner {
    background: #87509c;

    padding: 40px 0px;
}

.hero {
    max-width: 700px;
    margin: 170px auto;
}

.hero h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .banner {
        padding: 15px 0px;
    }
}
/*service Section start*/

.service {
    background: #17c2a4;
    padding: 150px 0px;
}
.service-card {
    text-align: left;
    margin-right: 20px;
    background-color: #00cbb0;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.service-card-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.service-card-icon {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}
.service-card-icon img {
    width: 25px;
}
.icon-2 img {
    width: 22px;
}
.service-card h3 {
    color: #fff;
}
.service-card p {
    margin: 0 auto;
    color: #fff;
}
@media (max-width: 768px) {
    .service {
        padding: 80px 0px;
    }
    .service-card {
        margin: 5px;
    }
}
/* feature section style start  */
.feature {
    background: gainsboro;
    padding: 150px 0px;
}

.feature-card {
    padding: 20px;
}
.feature-card img {
    max-width: 110px;
    margin: 0 auto;
    display: block;
}

.feature-card h3 {
    text-align: center;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
}
.feature-card h4 {
    text-align: center;
    color: blueviolet;
    font-size: 13px;
    margin-top: 8px;
}

.feature-card p {
    margin: 20px 0 10px 0;
    text-align: center;
    color: black;
}
.feature-card ul {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.feature-card ul li {
    margin: 0 5px;
}

.fa.fa-facebook {
    text-align: center;
    padding: 6px 10px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 15px;
}

.fa.fa-twitter {
    text-align: center;
    padding: 6px 7px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 15px;
}

.fa.fa-linkedin {
    text-align: center;
    padding: 6.5px 8px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 15px;
}

.fa.fa-envelope-o {
    text-align: center;
    padding: 6px 6.5px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 15px;
}
.fa.fa-facebook:hover,
.fa.fa-twitter:hover,
.fa.fa-linkedin:hover,
.fa.fa-envelope-o:hover {
    color: #0ae8ca;
    background-color: #f9f9f9;
}
@media (max-width: 768px) {
    .feature {
        padding: 80px 0px;
    }
}
/* skills styles start  */
.skills {
    background: #ffffff;
    padding: 150px 0px;
}
.skills-progressbar {
    margin: 0 auto;
}
.skill-card {
    text-align: center;
    color: #131313;
}
.skill-card h3 {
    margin: 20px auto;
}
@keyframes growProgressBar {
    0%,
    33% {
        --pgPercentage: 0;
    }
    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

div[role='progressbar'] {
    --size: 12rem;
    --fg: #30b9e6;
    --bg: #dfe8ec;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(
            closest-side,
            white 80%,
            transparent 0 99.9%,
            white 0
        ),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}
div[role='progressbar2'] {
    --size: 12rem;
    --fg: #d74680;
    --bg: #dfe8ec;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(
            closest-side,
            white 80%,
            transparent 0 99.9%,
            white 0
        ),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}
div[role='progressbar3'] {
    --size: 12rem;
    --fg: #13c7a8;
    --bg: #dfe8ec;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(
            closest-side,
            white 80%,
            transparent 0 99.9%,
            white 0
        ),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}
div[role='progressbar4'] {
    --size: 12rem;
    --fg: #eb7d4b;
    --bg: #dfe8ec;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(
            closest-side,
            white 80%,
            transparent 0 99.9%,
            white 0
        ),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}
div[role='progressbar']::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}
div[role='progressbar2']::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}
div[role='progressbar3']::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}
div[role='progressbar4']::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}
@media (max-width: 768px) {
    .skills {
        padding: 80px 0px;
    }
}
/* Portfolio section style start  */

.portfolio {
    background: #f5e5a5;
    padding: 150px 0px;
}

.tab {
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    text-align: center;
    background-color: #bfab59;
    color: white;
    text-decoration: none;
    display: inline;
    padding: 8px 16px;
    margin-top: 20px;
    margin-left: 10px;
}

.gallery-card {
    margin: 20px auto;
}

.gallery-card img {
    margin: 20px auto;
    display: block;
    max-width: 100%;
    padding: 20px;
}

.gallery-card h3 {
    text-align: center;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
}

.gallery-btn {
    margin: 75px auto 0 auto;
}
@media (max-width: 768px) {
    .portfolio {
        padding: 80px 0px;
    }
    .tab {
        padding: 8px 10px;
        margin-left: 5px;
    }
    .gallery-card h3 {
        font-size: 14px;
    }
}
/*--Review---*/

.review {
    background: #fc539b;
    padding: 150px 0px;
}
.review-card {
    flex-wrap: nowrap;
    align-items: center;
}
.review-card img {
    max-width: 100%;
}

.review-card h3 {
    color: white;
    margin-top: 20px;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 25px;
}
.review-card h4 {
    color: #fae022;
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: 17px;
}

.review-card p {
    color: black;
    margin-top: 45px;
    margin-left: 25px;
}
@media (max-width: 768px) {
    .review {
        padding: 80px 0px;
    }
    .review-card {
        text-align: center;
        margin-bottom: 40px;
        display: block;
    }

    .review-card img {
        padding: 0 60px;
    }
    .review-card p {
        margin-top: 0;
        margin-left: 0;
    }
}
/*section contsct---*/

.contacts .cuda-details p {
    color: #fff;
}
.contacts .cuda-details h2 {
    color: #fff;
}
.contacts .under-line {
    border-color: #fff;
}
.contact-wrapper {
    justify-content: center;
    align-items: baseline;
}
.contacts {
    background: #283f9e;
    padding: 150px 0px;
}
.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input {
    max-width: 100%;
    width: 49%;
    padding: 15px;
    border: 1px solid #283f9e;
    background-color: #283593;
    margin-bottom: 20px;
}
input::placeholder {
    color: #b8b8b8;
}

textarea {
    max-width: 100%;
    width: 100%;
    border: 1px solid #283f9e;
    background-color: #283593;
    color: #fff;
    letter-spacing: 1px;
    padding: 15px;
}
textarea::placeholder {
    color: #b8b8b8;
}

.contact-btn {
    text-align: left;
}
/* Begin Right Contact Page */

/* Location, Phone, Email Section */
.direct-contact-container {
    padding-left: 40px;
}
.contact-list {
    list-style-type: none;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #ffffff;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}

.fa.fa-twitter.contact {
    background-color: transparent;
    font-size: 22px;
}
/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #109572;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px 3px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #1a237e;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: #000;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}
@media (max-width: 768px) {
    .contacts {
        padding: 80px 0px;
    }
    form {
        padding-right: 0px;
    }
    input {
        margin: 10px 0;
    }
}
hr {
    border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
/* @media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
} */

/* @media screen and (max-width: 569px) {
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
} */

/*FOOTER----*/

.footer {
    background: #122679;
}

.foot {
    background: #122679;
}
.foot ul {
    list-style: none;
    text-align: center;
    display: block;
    padding: 40px;
}
.foot ul li {
    margin: 0 auto;
    display: inline;
    margin: 0 42px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
